{% extends "layouts/base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %} Contact {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini {% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Contact</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Contact</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Main row -->
            <div class="row">
                <!-- Left col -->
                <section class="col-lg-6 connectedSortable">
                    <!-- Custom tabs (Charts with tabs)-->
                    <div class="card bg-white elevation-2">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-id-card"></i>
                                Update Contact Number
                            </h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Minimize">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool btn-fullscreen" title="Maximize">
                                    <i class="fas fa-expand-arrows-alt"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Close">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>

                        </div><!-- /.card-header -->
                        <!-- Ongoing Live Class -->
                        <div class="card-body">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form | crispy }}
                                <input type="submit" value="Verify">
                            </form>
                        </div><!-- /.card-body -->
                        <!-- Help Text -->
                        {% if user.contact_verified %}
                        <div class="card-footer text-center">
                            <a href="{% url 'identity' %}" class="btn btn-danger">BACK TO UPDATE Identity</a>
                            <a href="{% url 'dashboard' %}" class="btn btn-success">PROCEED TO DASHBOARD</a>
                        </div>
                        {% else %}
                        <div class="row card-footer text-center pb-0">
                            <div class="col-sm-6">
                                <p class="float-sm-left">
                                    <a href="{% url 'identity' %}" class="btn btn-sm btn-danger">
                                        BACK TO UPDATE Identity
                                    </a>
                                </p>
                            </div><!-- /.col -->
                            <div class="col-sm-6">
                                <p class="float-sm-right">
                                    Kindly ensure proper network coverage for the OTP verification.
                                </p>
                            </div><!-- /.col -->
                        </div>
                        {% endif %}
                        <!-- /.Help Text -->
                    </div>
                    <!-- /.card -->
                </section>
                <!-- /.Left col -->
                <!-- Right col (We are only adding the ID to make the widgets sortable)-->
                <section class="col-lg-6 connectedSortable text-center">
                    <img src="{% static 'project/img/fill-out-form.png' %}" style="max-width:100%;">
                </section>
                <!-- right col -->
            </div>
            <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}