{% extends "layouts/base.html" %}

{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block title %} Approve Master {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini {% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Approve Master</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'status' %}">Home</a></li>
                        <li class="breadcrumb-item active">Approve Master</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Main row -->
            <div class="row">
                <!-- Left col -->
                <section class="col-lg-6 connectedSortable">
                    <!-- Custom tabs (Charts with tabs)-->
                    <div class="card bg-white elevation-2">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-id-card"></i>
                                Approve as Master
                            </h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Minimize">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool btn-fullscreen" title="Maximize">
                                    <i class="fas fa-expand-arrows-alt"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Close">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>

                        </div><!-- /.card-header -->
                        <!-- Ongoing Live Class -->
                        <div class="card-body">
                            {% if view.profile.identity_proof %}
                            <div class="text-center">
                                <img src="{{ view.profile.identity_proof.url }}" style="max-width: 50%;"><br />
                                <small>
                                    Submitted Identity Proof
                                    {% if view.profile.first_name or view.profile.last_name %}
                                    by <b>{{view.profile.first_name}} {{view.profile.last_name}}</b>
                                    {% endif %}
                                </small>
                            </div>

                            {% if view.profile.aadhaar_number or view.profile.pan_number %}
                            <div class="text-center">
                                Profile's claims to have:<br />
                                PAN NUMBER: {{view.profile.pan_number}} |
                                AADHAAR NUMBER: {{view.profile.aadhaar_number}}
                            </div>
                            {% endif %}

                            <hr />

                            Do you really want to approve this profile as Master (PoolMaster)?

                            {% endif %}
                            <form method="post">
                                {% csrf_token %}
                                {{ form | crispy }}
                                <input type="submit" class="btn btn-secondary" value="APPROVE / REJECT">
                            </form>
                        </div><!-- /.card-body -->
                        <!-- Help Text -->
                        {% if messages %}
                        <div class="row card-footer text-center pb-0">
                            <div class="col-sm-12 text-center">
                                {% for message in messages %}
                                <p>{{ message }}</p>
                                {% endfor %}
                            </div><!-- /.col -->
                        </div>
                        {% endif %}
                        <!-- /.Help Text -->
                    </div>
                    <!-- /.card -->
                </section>
                <!-- /.Left col -->
                <!-- Right col -->
                <section class="col-lg-6 connectedSortable text-center">
                    <img src="{% static 'project/img/fill-out-form.png' %}" style="max-width:30%;">
                </section>
                <!-- right col -->
            </div>
            <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    $('#id_identity_verified').bind("change", function (event) {
        if ($('#id_identity_verified').is(':checked')) {
            $('#div_id_identity_reject_reason').hide()
        } else {
            $('#div_id_identity_reject_reason').show()
        }
    });
</script>
{% endblock javascripts %}