{% extends "layouts/base.html" %}

{% load static %}
{% load humanize %}
{% load account_extras %}
{% load crispy_forms_tags %}

{% block title %} Profile Detail {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini {% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Profile Detail</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'status' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'manager_profile_list' %}">Profile List</a>
                        </li>
                        <li class="breadcrumb-item active">Profile Detail</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Main row -->
            <div class="row">
                <!-- Left col -->
                <section class="col-lg-6 connectedSortable">
                    <!-- Custom tabs (Charts with tabs)-->
                    <div class="card card-widget widget-user shadow">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-white">
                            <h3 class="widget-user-username font-weight-bold">{{profile.first_name}}
                                {{profile.last_name}}
                            </h3>
                            <h5 class="widget-user-desc">
                                {% if profile|has_group:"manager" %}
                                MANAGER - <i class="fas fa-check-circle text-primary"></i>
                                {% endif %}
                                {% if profile|has_group:"master" %}
                                MASTER - <i class="fas fa-check-circle text-primary"></i>
                                {% endif %}
                                {% if profile.identity_verified and profile.contact_verified %}
                                MEMBER - <i class="fas fa-check-circle text-primary"></i>
                                {% else %}
                                MEMBER - <i class="fas fa-times-circle text-danger"></i>
                                {% endif %}
                            </h5>
                        </div>
                        <a href="{% url 'profile_picture' %}">
                            <div class="widget-user-image">
                                {% if profile.picture %}
                                <img src="{{ profile.picture.url }}" class="img-circle elevation-2"
                                    style="height:6rem; width:6rem;"
                                    alt="{{profile.first_name}} {{profile.last_name}} Image">
                                {% else %}
                                <img src="{% static 'project/img/user.png' %}" class="img-circle elevation-1"
                                    alt="User Image">
                                {% endif %}
                            </div>
                        </a>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-sm-{% if profile|has_group:'master' %}3{%else%}4{%endif%} border-right">
                                    <div class="description-block">
                                        <h5 class="description-header">{{profile.balance_amount}}</h5>
                                        <span class="description-text">BALANCE AMOUNT</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-{% if profile|has_group:'master' %}3{%else%}4{%endif%} border-right">
                                    <div class="description-block">
                                        <h5 class="description-header">{{profile.member_of_pool.all.count}}</h5>
                                        <span class="description-text">MEMBER OF POOLS</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                {% if profile|has_group:"master" %}
                                <div class="col-sm-{% if profile|has_group:'master' %}3{%else%}4{%endif%} border-right">
                                    <div class="description-block">
                                        <h5 class="description-header">{{profile.master_of_pool.all.count}}</h5>
                                        <span class="description-text">MASTER OF POOLS</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                {% endif %}
                                <div class="col-sm-{% if profile|has_group:'master' %}3{%else%}4{%endif%}">
                                    <div class="description-block">
                                        <h5 class="description-header">{{profile.investment_amount}}</h5>
                                        <span class="description-text">INVESTMENT AMOUNT</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>

                    <div class="card bg-white">
                        <div class="card-header">
                            <h3 class="card-title">Profile Details</h3>

                            <div class="card-tools">

                            </div>
                            <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body" style="display: block;">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td width="40%">Email ID</td>
                                        <td>{{profile.email}}</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>First Name</td>
                                        <td>{{profile.first_name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Last Name</td>
                                        <td>{{profile.last_name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Contact Number</td>
                                        <td>{{profile.username}}</td>
                                    </tr>
                                    <tr>
                                        <td>Aadhaar Number</td>
                                        <td>{{profile.aadhaar_number}}</td>
                                    </tr>
                                    <tr>
                                        <td>PAN Number</td>
                                        <td>{{profile.pan_number}}</td>
                                    </tr>
                                    <tr>
                                        <td>Identity Proof</td>
                                        <td>
                                            {% if profile.identity_proof and profile.identity_verified %}
                                            <a href="{{ profile.identity_proof.url }}">
                                                <img src="{{ profile.identity_proof.url }}"
                                                    alt="{{profile.identity_proof.url}}" style="max-width: 25%;">
                                            </a>
                                            {%elif profile.identity_proof and profile.identity_reject_reason%}
                                            REJECTED
                                            <br />
                                            {{ profile.identity_reject_reason }}
                                            {% elif profile.identity_proof %}
                                            <a href="{{ profile.identity_proof.url }}">
                                                <img src="{{ profile.identity_proof.url }}"
                                                    alt="{{profile.identity_proof.url}}" style="max-width: 25%;">
                                            </a>
                                            <span class="text-danger">
                                                VERIFICATION PENDING FROM {{PRODUCT_NAME|upper}} |
                                                <a href="{% url 'manager_profile_verify_identity' profile.id %}">
                                                    VERIFY
                                                </a>
                                            </span>
                                            {% else %}
                                            <span class="text-danger">DOCUMENT NOT UPLOADED</span>
                                            {% endif %}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Identity Verified</td>
                                        <td>
                                            {% if profile.identity_verified %}
                                            <i class="fas fa-check-circle text-primary"></i>
                                            {% elif profile.identity_proof %}
                                            <i class="fas fa-times-circle text-danger"></i> |
                                            <a href="{% url 'manager_profile_verify_identity' profile.id %}">VERIFY</a>
                                            {% else %}
                                            <i class="fas fa-times-circle text-danger"></i>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Contact Verified</td>
                                        <td>
                                            {% if profile.contact_verified %}
                                            <i class="fas fa-check-circle text-primary"></i>
                                            {% else %}
                                            <i class="fas fa-times-circle text-danger"></i>
                                            {% endif %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </section>
                <!-- /.Left col -->
                <!-- Right col (We are only adding the ID to make the widgets sortable)-->
                <section class="col-lg-6 connectedSortable text-center">
                    <div class="card bg-white">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="nav-icon fas fa-hat-cowboy"></i>
                                Profile's Mastership Pools
                            </h3>
                            <div class="card-tools">
                            </div>
                            <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>NAME</th>
                                        <th>SIZE</th>
                                        <th>FILLED</th>
                                        <th>INVESTMENT</th>
                                    </tr>
                                </thead>
                                {% if profile.master_of_pool.all %}
                                <tbody>
                                    {% for pool in profile.master_of_pool.all %}
                                    <tr>
                                        <td><a href="{% url 'pool_detail' pool.id %}">{{pool.name}}</a></td>
                                        <td>{{pool.size}}</td>
                                        <td>{{pool.members.count}}</td>
                                        <td>
                                            {% widthratio pool.investment 1 pool.members.count %}
                                            ({{pool.investment|intcomma}} / Member)
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                {% endif %}
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>

                    <div class="card bg-white">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="nav-icon fab fa-galactic-republic"></i>
                                Profile's Membership Pools
                            </h3>
                            <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>NAME</th>
                                        <th>SIZE</th>
                                        <th>FILLED</th>
                                        <th>INVESTMENT</th>
                                        <th>POOLMASTER</th>
                                    </tr>
                                </thead>
                                {% if profile.member_of_pool.all %}
                                <tbody>
                                    {% for pool in profile.member_of_pool.all %}
                                    <tr>
                                        <td><a href="{% url 'pool_detail' pool.id %}">{{pool.name}}</a></td>
                                        <td>{{pool.size}}</td>
                                        <td>{{pool.members.count}}</td>
                                        <td>{{pool.investment|intcomma}}</td>
                                        <td>{{pool.master.first_name}} {{pool.master.last_name}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                {% endif %}
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </section>
                <!-- right col -->
            </div>
            <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}