{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset With OTP" %}{% endblock %}

{% block content %}

<h5 class="login-box-msg">{% trans "Password Reset With OTP" %}</h5>
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<p>
    {% trans "Forgotten your password?" %}
    {% trans "Enter the OTP sent to " %}
    {{ view.username }}
</p>

<form method="POST" action="{% url 'account_reset_password_with_otp' %}" class="password_reset">
    {% csrf_token %}
    {{ form | crispy }}
    <div class="text-center">
        <input class="btn btn-danger" type="submit" value="{% trans 'Confirm OTP' %}" />
    </div>
</form>

{% endblock %}