{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<h5 class="login-box-msg">{% trans "Change Password" %}</h5>

<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    {{ form | crispy }}
    <div class="text-center">
        <button class="btn btn-danger" type="submit" name="action">{% trans "Change Password" %}</button>
        <br />
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </div>
</form>
{% endblock %}