{% extends "layouts/base.html" %}

{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block title %} Update Details {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini {% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<!-- Cropper.js -->
<link rel="stylesheet" href="{% static 'project/plugins/cropper/cropper.min.css' %}">
{% endblock stylesheets %}

{% block content %}

<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Update Details</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'status' %}">Home</a></li>
                        <li class="breadcrumb-item active">Update Details</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Main row -->
            <div class="row">
                <!-- Left col -->
                <section class="col-lg-6 connectedSortable">
                    <!-- Custom tabs (Charts with tabs)-->
                    <div class="card bg-white elevation-2">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-id-card"></i>
                                Update Your Details
                            </h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Minimize">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>

                        </div><!-- /.card-header -->
                        <!-- Ongoing Live Class -->
                        <div class="card-body">
                            <form method="post">
                                {% csrf_token %}
                                {{ form | crispy }}
                                <input type="submit" class="btn btn-light" value="Update">
                            </form>
                        </div><!-- /.card-body -->
                        <!-- Help Text -->
                        <div class="row card-footer text-center pb-0">
                            <div class="col-sm-12 text-center">
                                <p>
                                    Click <a href="{% url 'status' %}">here</a> to go back.
                                </p>
                            </div><!-- /.col -->
                        </div>
                        <!-- /.Help Text -->
                    </div>
                    <!-- /.card -->
                </section>
                <!-- /.Left col -->
                <!-- Right col -->
                <section class="col-lg-6 connectedSortable text-center">
                </section>
                <!-- right col -->
            </div>
            <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}