{% extends "layouts/base.html" %}

{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block title %} Identity Verification {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini {% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<!-- Cropper.js -->
<link rel="stylesheet" href="{% static 'project/plugins/cropper/cropper.min.css' %}">
{% endblock stylesheets %}

{% block content %}

<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Identity Verification</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'status' %}">Home</a></li>
                        <li class="breadcrumb-item active">Identity Verification</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Main row -->
            <div class="row">
                <!-- Left col -->
                <section class="col-lg-6 connectedSortable">
                    <!-- Custom tabs (Charts with tabs)-->
                    <div class="card bg-black elevation-2">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-id-card"></i>
                                Provide Identification Proof
                            </h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Minimize">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>

                        </div><!-- /.card-header -->
                        <!-- Ongoing Live Class -->
                        <div class="card-body">
                            <form id="identity_form" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form | crispy }}
                                <input type="submit" class="btn btn-secondary" value="Upload ID Proof"
                                    onclick="return ValidateFile()">
                            </form>
                        </div><!-- /.card-body -->
                        <!-- Help Text -->
                        {% if user.identity_verified %}
                        <div class="card-footer text-center text-bold">
                            Your Identity verification was successful!<br />
                            Click <a href="{% url 'status' %}">here</a> to go to Dashboard.
                        </div>
                        {% elif user.identity_proof and not user.identity_reject_reason %}
                        <div class="card-footer text-center text-bold">
                            Your Identity verification is in progress. It may take some time for the verification to
                            complete. Please revisit in some time to proceed further.<br />
                            Click <a href="{% url 'dashboard' %}">here</a> to go to your dashboard.
                        </div>
                        {% elif user.identity_reject_reason %}
                        <div class="card-footer text-center text-bold">
                            <span class="text-danger">ID Proof Verification Failed!</span><br />
                            {{user.identity_reject_reason}}
                            <hr />
                            <span class="text-danger">Please submit valid document again!</span><br />
                        </div>
                        {% else %}
                        <div class="row card-footer text-center pb-0">
                            <div class="col-sm-12 text-center">
                                <p>
                                    Please upload your valid Photo ID (preferably Aadhaar Card) for verification
                                    purpose.
                                </p>
                            </div><!-- /.col -->
                        </div>
                        {% endif %}
                        <!-- /.Help Text -->
                    </div>
                    <!-- /.card -->
                </section>
                <!-- /.Left col -->
                <!-- Right col -->
                <section class="col-lg-6 connectedSortable text-center">
                    <img src="{% static 'project/img/fill-out-form.png' %}" style="max-width:30%;">
                    <div class="col-md-12">
                        <div class="timeline">
                            <!-- timeline time label -->
                            <div class="time-label text-left">
                                <span class="bg-success"><i class="fas fa-clipboard-list"></i> ONBOARDING STARTED</span>
                            </div>
                            <!-- /.timeline-label -->
                            {% if user.contact_verified %}
                            <!-- timeline item -->
                            <div>
                                <i class="fas fa-phone-alt bg-success"></i>
                                <div class="timeline-item">
                                    <span class="time"><i class="fas fa-clock"></i>
                                        {{user.date_joined|naturaltime}}
                                    </span>
                                    <h3 class="timeline-header text-left">
                                        <a href="{% url 'status' %}">Contact Verification</a>
                                        <small><strong>DONE</strong></small>
                                    </h3>
                                    <div class="timeline-body text-justify">
                                        Your Contact Number was verified using OTP. This was necessary
                                        for all high priority communications and updates.
                                    </div>
                                </div>
                            </div>
                            <!-- END timeline item -->
                            {% else %}
                            <!-- timeline item -->
                            <div>
                                <i class="fas fa-envelope bg-success"></i>
                                <div class="timeline-item">
                                    <span class="time"><i class="fas fa-clock"></i>
                                        {{user.date_joined|naturaltime}}
                                    </span>
                                    <h3 class="timeline-header text-left">
                                        <a href="{% url 'status' %}">Email Verified Profile Creation</a>
                                        <small><strong>DONE</strong></small>
                                    </h3>
                                    <div class="timeline-body text-justify">
                                        You verified your email address: {{user.email}} using email link.
                                        This was necessary for all high priority communications and updates.
                                    </div>
                                </div>
                            </div>
                            <!-- END timeline item -->
                            {% endif %}
                            <!-- timeline item -->
                            <div>
                                <i
                                    class="fas fa-id-card {% if user.identity_verified %}bg-green{% else %}bg-warning{% endif %}"></i>
                                <div class="timeline-item">
                                    <h3 class="timeline-header text-left">
                                        <a href="{% url 'status' %}">Identity Verification</a>
                                        <small><strong>
                                                {% if user.identity_verified %}
                                                DONE
                                                {% elif user.identity_proof %}
                                                VERIFICATION PENDING FROM {{PRODUCT_NAME|upper}}
                                                {% else %}
                                                PENDING
                                                {% endif %}
                                            </strong></small>
                                    </h3>
                                    <div class="timeline-body text-justify">
                                        You update your Identity Proof Details here, which is verified by our team.
                                        Identity verification helps us in ensuring a legitimate user base for future
                                        financial transactions.
                                    </div>
                                </div>
                            </div>
                            <!-- END timeline item -->
                            <!-- timeline item -->
                            <div>
                                <i
                                    class="fas fa-user {% if user.first_name or user.last_name %}bg-green{% else %}bg-warning{% endif %}"></i>
                                <div class="timeline-item">
                                    <h3 class="timeline-header text-left">
                                        <a href="{% url 'status' %}">Profile Completion</a>
                                        <small><strong>
                                                {% if user.first_name or user.last_name %}
                                                DONE
                                                {% else %}
                                                PENDING
                                                {% endif %}
                                            </strong></small>
                                    </h3>
                                    <div class="timeline-body text-justify">
                                        You update your full name which will be used for future transactions.
                                    </div>
                                </div>
                            </div>

                            <!-- timeline time label -->
                            <div class="time-label text-left">
                                {% if user.identity_verified and user.first_name or user.last_name %}
                                <span class="bg-success"><i class="fas fa-check"></i> ONBOARDING COMPLETED</span>
                                {% else %}
                                <span class="bg-warning"><i class="fas fa-check"></i> ONBOARDING COMPLETES</span>
                                {% endif %}
                            </div>
                            <!-- /.timeline-label -->
                        </div>
                    </div>
                </section>
                <!-- right col -->
            </div>
            <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

    <!-- Modal Crop -->
    <div class="modal fade" id="modalCrop" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content card-outline card-danger">
                <div class="modal-header">
                    <h4 class="modal-title">Crop Picture</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2"></div>
                        <div class="col-lg-8 col-md-8 col-sm-8 text-center">
                            <img src="" id="image" style="max-width: 100%;">
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">The cropped photograph must contain your ID card (with clear
                            face and number).</div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default js-zoom-out">
                                <i class="fas fa-search-minus"></i>
                            </button>
                            <button type="button" class="btn btn-default js-zoom-in">
                                <i class="fas fa-search-plus"></i>
                            </button>
                        </div>
                        <button type="button" class="btn btn-default js-crop-and-upload">Crop & Upload</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!--/.Modal Crop-->

    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- Cropper.js -->
<script src="{% static 'project/plugins/cropper/cropper.min.js' %}"></script>
<!-- Cropper-Jquery Wrapper -->
<script src="{% static 'project/plugins/jquery-cropper/jquery-cropper.min.js' %}"></script>

<script>
    /* Client Side File Validation */
    function ValidateFile(id) {
        //Get reference of FileUpload.
        var fileUpload = document.getElementById(id);

        //Check whether the file is valid Image.
        var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(.jpg|.png|.gif)$");

        //Check whether the file size is less than 2 MB
        if (fileUpload.files[0].size < 2048000000) {
            if (regex.test(fileUpload.value.toLowerCase())) {
                //Check whether HTML5 is supported.
                if (typeof (fileUpload.files) != "undefined") {
                    //Initiate the FileReader object.
                    var reader = new FileReader();
                    //Read the contents of Image File.
                    reader.readAsDataURL(fileUpload.files[0]);
                    reader.onload = function (e) {
                        //Initiate the JavaScript Image object.
                        var image = new Image();

                        //Set the Base64 string return from FileReader as source.
                        image.src = e.target.result;

                        //Validate the File Height and Width.
                        image.onload = function () {
                            var height = this.height;
                            var width = this.width;
                            if (height > 330 && width > 210) {
                                // Preventing Direct Submit!
                                return false;
                            } else {
                                alert("The image is not clear (too small). Please upload a higher resolution image!")
                                location.reload()
                                return false;
                            }
                        };

                    }
                } else {
                    alert("This browser does not support HTML5.");
                    location.reload();
                    return false;
                }
            } else {
                alert("Please select a valid Image file.");
                location.reload();
                return false;
            }
        } else {
            alert("Please select an Image file less than 2 MB in size.");
            location.reload();
            return false;
        }
    }

    $(function () {
        /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
        $("#id_identity_proof").change(function () {
            ValidateFile("id_identity_proof")
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#image").attr("src", e.target.result);
                    //
                    $("#modalCrop").modal("show");
                }
                reader.readAsDataURL(this.files[0]);
            }
        });

        /* SCRIPTS TO HANDLE THE CROPPER BOX */
        var $image = $("#image");
        var cropBoxData;
        var canvasData;
        $("#modalCrop").on("shown.bs.modal", function () {
            $image.cropper({
                viewMode: 1,
                aspectRatio: 33 / 21,
                minCropBoxWidth: 330,
                minCropBoxHeight: 210,
                ready: function () {
                    $image.cropper("setCanvasData", canvasData);
                    $image.cropper("setCropBoxData", cropBoxData);
                }
            });
        }).on("hidden.bs.modal", function () {
            cropBoxData = $image.cropper("getCropBoxData");
            canvasData = $image.cropper("getCanvasData");
            $image.cropper("destroy");
        });

        $(".js-zoom-in").click(function () {
            $image.cropper("zoom", 0.1);
        });

        $(".js-zoom-out").click(function () {
            $image.cropper("zoom", -0.1);
        });

        /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
        $(".js-crop-and-upload").click(function () {
            var cropData = $image.cropper("getData");
            $("#id_x").val(cropData["x"]);
            $("#id_y").val(cropData["y"]);
            $("#id_height").val(cropData["height"]);
            $("#id_width").val(cropData["width"]);
            $("#identity_form").submit();
        });
    });
</script>
{% endblock javascripts %}