{% extends "layouts/base.html" %}

{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block title %} User Detail {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini {% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">User Detail</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">User List</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Main row -->
            <div class="row">
                <!-- Left col -->
                <section class="col-lg-6 connectedSortable">
                    <!-- Custom tabs (Charts with tabs)-->
                    <div class="card card-widget widget-user shadow">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-warning">
                            <h3 class="widget-user-username font-weight-bold">{{user.first_name}} {{user.last_name}}
                            </h3>
                            <h5 class="widget-user-desc">
                                {% if user.is_verified_master %}
                                MASTER - <i class="fas fa-check-circle text-primary"></i>
                                {% elif user.identity_verified and user.contact_verified %}
                                MEMBER - <i class="fas fa-check-circle text-primary"></i>
                                {% else %}
                                MEMBER - <i class="fas fa-times-circle text-danger"></i>
                                {% endif %}
                            </h5>
                        </div>
                        <div class="widget-user-image">
                            {% if user.picture %}
                            <img src="{{ user.picture.url }}" class="img-circle elevation-2"
                                style="height:6rem; width:6rem;" alt="{{user.first_name}} {{user.last_name}} Image">
                            {% else %}
                            <img src="{% static 'project/img/user.png' %}" class="img-circle elevation-1"
                                alt="User Image">
                            {% endif %}
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-sm-{% if user.is_verified_master %}3{%else%}4{%endif%} border-right">
                                    <div class="description-block">
                                        <h5 class="description-header">{{user.balance_amount}}</h5>
                                        <span class="description-text">BALANCE AMOUNT</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-{% if user.is_verified_master %}3{%else%}4{%endif%} border-right">
                                    <div class="description-block">
                                        <h5 class="description-header">{{user.member_of_pools.all.count}}</h5>
                                        <span class="description-text">MEMBER OF POOLS</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                {% if user.is_verified_master %}
                                <div class="col-sm-{% if user.is_verified_master %}3{%else%}4{%endif%} border-right">
                                    <div class="description-block">
                                        <h5 class="description-header">{{user.member_of_pools.all.count}}</h5>
                                        <span class="description-text">MASTER OF POOLS</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                {% endif %}
                                <div class="col-sm-{% if user.is_verified_master %}3{%else%}4{%endif%}">
                                    <div class="description-block">
                                        <h5 class="description-header">{{user.investment_amount}}</h5>
                                        <span class="description-text">INVESTMENT AMOUNT</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>

                    <div class="card bg-warning">
                        <div class="card-header">
                            <h3 class="card-title">Profile Details</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                            <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body" style="display: block;">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td width="40%">Email ID</td>
                                        <td>{{user.email}}</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>First Name</td>
                                        <td>{{user.first_name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Last Name</td>
                                        <td>{{user.last_name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Contact Number</td>
                                        <td>{{user.contact_number}}</td>
                                    </tr>
                                    <tr>
                                        <td>Aadhaar Number</td>
                                        <td>{{user.aadhaar_number}}</td>
                                    </tr>

                                    <tr>
                                        <td>Identity Proof</td>
                                        <td>
                                            {% if user.identity_proof %}
                                            {{user.identity_proof.url}}
                                            {% else %}
                                            <span class="text-danger">NOT UPLOADED</span>
                                            {% endif %}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Identity Verified</td>
                                        <td>
                                            {% if user.identity_verified %}
                                            <i class="fas fa-check-circle text-primary"></i>
                                            {% else %}
                                            <i class="fas fa-times-circle text-danger"></i>
                                            |
                                            <a href="https://resident.uidai.gov.in/verify" target="_blank">
                                                Manual Verification
                                            </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Contact Verified</td>
                                        <td>
                                            {% if user.contact_verified %}
                                            <i class="fas fa-check-circle text-primary"></i>
                                            {% else %}
                                            <i class="fas fa-times-circle text-danger"></i>
                                            {% endif %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </section>
                <!-- /.Left col -->
                <!-- Right col (We are only adding the ID to make the widgets sortable)-->
                <section class="col-lg-6 connectedSortable text-center">
                    {% if user.is_verified_master %}
                    <div class="card bg-warning">
                        <div class="card-header">
                            <h3 class="card-title">Master of Pools</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                            <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body" style="display: block;">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>Name</td>
                                        <td>Size</td>
                                        <td>Filled</td>
                                        <td>Investment</td>
                                    </tr>
                                </thead>
                                {% if user.master_of_pools.all %}
                                <tbody>
                                    {% for pool in user.master_of_pools.all %}
                                    <tr>
                                        <td>{{pool.name}}</td>
                                        <td>{{pool.size}}</td>
                                        <td>{{pool.members.count}}</td>
                                        <td>
                                            {% widthratio pool.investment 1 pool.members.count %}
                                            ({{pool.investment|intcomma}} / Member)
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                {% endif %}
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    {% endif %}

                    <div class="card bg-warning">
                        <div class="card-header">
                            <h3 class="card-title">Member of Pools</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                            <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body" style="display: block;">
                            {% if user.identity_verified and user.contact_verified %}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>Name</td>
                                        <td>Size</td>
                                        <td>Investment</td>
                                        <td>PoolMaster</td>
                                    </tr>
                                </thead>
                                {% if user.member_of_pools.all %}
                                <tbody>
                                    {% for pool in user.member_of_pools.all %}
                                    <tr>
                                        <td>{{pool.name}}</td>
                                        <td>{{pool.size}}</td>
                                        <td>{{pool.investment|intcomma}}</td>
                                        <td>{{pool.master.first_name}} {{pool.master.last_name}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                {% endif %}
                            </table>
                            {% endif %}
                        </div>
                        <!-- /.card-body -->
                    </div>
                </section>
                <!-- right col -->
            </div>
            <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}