{% extends "layouts/base.html" %}

{% load static %}
{% load humanize %}
{% load account_extras %}
{% load crispy_forms_tags %}

{% block title %} {{ pool.name }} {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini {% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
    .roulette {
        display: block;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .wheel img {
            transition: transform 10s cubic-bezier(0.3, 1, 0.7, 1),
                10s filter cubic-bezier(0.1, 1, 0.8, 1),
                10s -webkit-filter cubic-bezier(0.1, 1, 0.8, 1);
            will-change: transform;
            border-radius: 50%;
            box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
            max-width: 300px;
            /* border:4px dashed rgba(255,255,255, .5); */
        }

        .arrow {
            width: 0;
            height: 0;
            border: 80px solid transparent;
            border-top: 110px solid tomato;
            position: fixed;
            left: 50%;
            transform: translate(-50%, -100px);
            z-index: 20;
            border-radius: 0.35em;
        }

        .arrow:after {}
    }

    .spin {
        cursor: crosshair;
    }
</style>
{% endblock stylesheets %}

{% block content %}

<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">{{ pool.name }}</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'status' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'pool_list' %}">Pools</a></li>
                        <li class="breadcrumb-item active">{{ pool.name }}</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Main row -->
            <div class="row">
                <!-- Left col -->
                <section class="col-lg-6 connectedSortable">
                    <!-- Custom tabs (Charts with tabs)-->
                    <div class="card card-widget widget-user shadow">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-danger">
                            <h3 class="widget-user-username font-weight-bold">{{ pool.name }}
                            </h3>
                            <small class="widget-user-desc">
                                Created {{ pool.created | naturaltime }}
                            </small>
                        </div>
                        <a href="{% url 'profile_picture' %}">
                            <div class="widget-user-image">
                                {% if user.picture %}
                                <img src="{{ user.picture.url }}" class="img-circle elevation-2"
                                    style="height:6rem; width:6rem;" alt="{{user.first_name}} {{user.last_name}} Image">
                                {% else %}
                                <img src="{% static 'project/img/user.png' %}" class="img-circle elevation-1"
                                    alt="User Image">
                                {% endif %}
                            </div>
                        </a>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-sm-{% if user|has_group:'master' %}3{%else%}4{%endif%} border-right">
                                    <div class="description-block">
                                        <h5 class="description-header">{{pool.get_member_count}}</h5>
                                        <span class="description-text">MEMBERS IN POOLS</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-{% if user|has_group:'master' %}3{%else%}4{%endif%} border-right">
                                    <div class="description-block">
                                        <h5 class="description-header">{{pool.get_member_remaining}}</h5>
                                        <span class="description-text">MEMBERS REMAINING</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                {% if user|has_group:"master" %}
                                <div class="col-sm-{% if user|has_group:'master' %}3{%else%}4{%endif%} border-right">
                                    <div class="description-block">
                                        <h5 class="description-header">
                                            {{ pool.master.first_name }} {{ pool.master.last_name }}
                                        </h5>
                                        <span class="description-text">MASTER OF POOLS</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                {% endif %}
                                <div class="col-sm-{% if user|has_group:'master' %}3{%else%}4{%endif%}">
                                    <div class="description-block">
                                        <h5 class="description-header">{{ pool.investment }}</h5>
                                        <span class="description-text">POOL INVESTMENT</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>

                    <div class="card bg-black">
                        <div class="card-header">
                            <h3 class="card-title">Pool Roulette</h3>

                            <div class="card-tools">
                                <span class="btn btn-tool">
                                    <i class="fas fa-clock"></i>
                                    {{ view.timezone.now|naturaltime }}
                                </span>
                            </div>
                            <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body pb-5" style="display: block;">
                            <div class="roulette text-center">
                                <div class="wheel spin text-center">
                                    <div class="arrow text-center">
                                    </div>
                                    <img src="https://i.imgur.com/N01W3Ks.png" style="max-width: 80vw;">
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            Past Winners
                        </div>
                    </div>
                </section>
                <!-- /.Left col -->
                <!-- Right col (We are only adding the ID to make the widgets sortable)-->
                <section class="col-lg-6 connectedSortable text-center">
                    <div class="card bg-black">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="nav-icon fab fa-galactic-republic"></i>
                                Pool Membership
                            </h3>
                            <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>NAME</th>
                                        <th>SIZE</th>
                                        <th>FILLED</th>
                                        <th>INVESTMENT</th>
                                        <th>POOLMASTER</th>
                                    </tr>
                                </thead>
                                {% if user.member_of_pool.all %}
                                <tbody>
                                    {% for pool in user.member_of_pool.all %}
                                    <tr>
                                        <td><a href="{% url 'pool_detail' pool.id %}">{{pool.name}}</a></td>
                                        <td>{{pool.size}}</td>
                                        <td>{{pool.members.count}}</td>
                                        <td>{{pool.investment|intcomma}}</td>
                                        <td>{{pool.master.first_name}} {{pool.master.last_name}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                {% endif %}
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer text-center">
                            {% if not pool.get_member_count %}
                            The pool seems lonely! Invite members to start...
                            {% endif %}
                        </div>
                    </div>

                    {% if user|has_group:"master" %}
                    <div class="card bg-black">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="nav-icon far fa-envelope-open"></i>
                                Pool Invitations
                            </h3>
                            <div class="card-tools">
                                <a href="{% url 'pool_create' %}" type="button" class="btn btn-tool">
                                    <i class="nav-icon fas fa-plus"></i>
                                    SEND INVITE
                                </a>
                            </div>
                            <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>NAME</th>
                                        <th>SIZE</th>
                                        <th>FILLED</th>
                                        <th>INVESTMENT</th>
                                    </tr>
                                </thead>
                                {% if user.master_of_pool.all %}
                                <tbody>
                                    {% for pool in user.master_of_pool.all %}
                                    <tr>
                                        <td><a href="{% url 'pool_detail' pool.id %}">{{pool.name}}</a></td>
                                        <td>{{pool.size}}</td>
                                        <td>{{pool.members.count}}</td>
                                        <td>
                                            {% widthratio pool.investment 1 pool.members.count %}
                                            ({{pool.investment|intcomma}} / Member)
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                {% endif %}
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer text-center">
                            Invite More Members? <small>({{pool.get_member_remaining}} invites remaining)</small>
                        </div>
                    </div>
                    {% endif %}
                </section>
                <!-- right col -->
            </div>
            <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    perfecthalf = ((1 / 37) * 360) / 2;

    let currentLength = perfecthalf;

    $(".wheel img").css("transform", "rotate(" + perfecthalf + "deg)");

    $(".spin").click(() => {
        //$(".wheel img").css("filter", "blur(8px)");

        spininterval = getRandomInt(0, 37) * (360 / 37) + getRandomInt(3, 4) * 360;
        currentLength += spininterval;

        numofsecs = spininterval;

        console.log(currentLength);
        $(".wheel img").css("transform", "rotate(" + currentLength + "deg)");

        setTimeout(function () {
            $(".wheel img").css("filter", "blur(0px)");
        }, numofsecs);
    });

    function getRandomInt(min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }

    $(document).ready(function () {
        $(".spin").click();
    })
</script>
{% endblock javascripts %}



<!-- 
<div class="pool-detail">

    <h2><a href="">{{ pool.name }}</a></h2>
    <p>Master: {{ pool.master }}</p>
    <p>Member Count: {{ pool.get_member_count }} / {{ pool.size }}</p>
    <p>Investment Amount: {{ pool.investment }}</p>
    <div>
        <h3>Members</h3>
        <ul>
            {% if pool.members %}
            {% for member in pool.member_of_pool %}
            <li>
                <img class="memberpicture" src="{{ member.picture.url }}" alt="{{ member.first_name }}">
                {{ member.email }} ({{ member.email }})
            </li>
            {% endfor %}
            {% endif %}

        </ul>
    </div>
</div>
 -->