{% load static %}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-light-primary elevation-4 text-black">
  <!-- Brand Logo -->
  <a href="{% url 'dashboard' %}" class="brand-link">
    <img src="{% static 'logo.png' %}" alt="{{PRODUCT_NAME}} Logo" class="brand-image" style="opacity: .8;">
    <span class="brand-text font-weight-bold">{{PRODUCT_NAME}}</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        {% if user.picture %}
        <img src="{{ user.picture.url }}" class="img-circle" style="height:2rem; width:2rem;" alt="User Image">
        {% else %}
        <img src="{% static 'project/img/user.png' %}" class="img-circle elevation-1" alt="User Image">
        {% endif %}
      </div>
      <div class="info">
        {% if user.first_name or user.last_name %}
        <a href="{% url 'dashboard' %}" class="d-block">{{ user.first_name }} {{ user.last_name }}</a>
        {% else %}
        <a href="{% url 'dashboard' %}" class="d-block">{{ user.email }}</a>
        {% endif %}
      </div>
    </div>

    {% if user.is_superuser or user.identity_verified and user.contact_verified %}
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

        {% if not user.is_superuser and user.identity_verified and user.contact_verified %}
        <li class="nav-header">MY ACCOUNT</li>
        <li class="nav-item">
          <a href="{% url 'dashboard' %}" class="nav-link {% if 'dashboard' in request.path %}active{% endif %}">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="pages/kanban.html" class="nav-link {% if 'balance' in request.path %}active{% endif %}">
            <i class="nav-icon fas fa-wallet"></i>
            <p>
              Balance
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="pages/kanban.html" class="nav-link {% if 'investment' in request.path %}active{% endif %}">
            <i class="nav-icon fas fa-chart-line"></i>
            <p>
              Investment
            </p>
          </a>
        </li>
        {% endif %}

        <li class="nav-header">POOLS</li>
        <li class="nav-item">
          <a href="{% url 'pool_list' %}" class="nav-link {% if 'pools' in request.path %}active{% endif %}">
            <i class="nav-icon fas fa-globe-asia"></i>
            <p>
              Global Pool List
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'pool_list' %}" class="nav-link {% if 'invites' in request.path %}active{% endif %}">
            <i class="nav-icon far fa-envelope-open"></i>
            <p>
              Pool Invitations
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="pages/gallery.html" class="nav-link {% if 'poolmember' in request.path %}active{% endif %}">
            <i class="nav-icon fab fa-galactic-republic"></i>
            <p>
              My Membership Pools
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="pages/calendar.html" class="nav-link {% if 'poolmaster' in request.path %}active{% endif %}">
            <i class="nav-icon fas fa-hat-cowboy"></i>
            <p>
              My Poolmaster Pools
            </p>
          </a>
        </li>

        {% if user.is_superuser %}
        <li class="nav-header">USERS</li>
        <li class="nav-item">
          <a href="{% url 'user_list' %}" class="nav-link {% if 'users' in request.path %}active{% endif %}">
            <i class="nav-icon fas fa-users"></i>
            <p>
              User List
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="pages/calendar.html" class="nav-link {% if 'poolmasteruser' in request.path %}active{% endif %}">
            <i class="nav-icon far fa-calendar-alt"></i>
            <p>
              All Poolmasters
            </p>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
    {% endif %}
  </div>
  <!-- /.sidebar -->
</aside>